
/* General */
hr {
  width: auto;
}
#darklight .offcanvas-body {
  background-color: rgb(51, 1, 167);
}
 body{
  background-color: green;

}


/* Sidebar */
.content-container {
 display: flex;
}

.sidebar button {
 margin: 1rem 0 1rem 1rem;
 color: black;
 background-color: transparent;
 border: 1px solid rgb(13,202,240);
 font-weight: bolder;
}

.d-none {
 width: 30rem;
}

.offcanvas-header {
 border-bottom: 1px solid rgb(13, 202, 240);
}

.offcanvas-title {
 margin-left: 1rem;
}

.offcanvas-body {
 margin: 0 1rem;
 flex-grow: 0!important;
 /* Working on padding in full width */
 padding: 0 16px;
}

/* Lists */
.lists-container {
 padding: 1rem;
}

.list-card {
 max-width: 100%;
}

/* dark/light mode */
#light{
  background-color: #F3ebf6;

}

#darklight{
  background-color: #46045e;
}

.switch{
  position: relative;
  left: 600px;
  bottom: 100px;
  width: 100vw;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#light .switch label{
  color: #000
}

#darklight .switch label{
  color: rgb(243, 236, 236)
}

