/* General */
hr {
  width: auto;
}

<<<<<<< HEAD
/* Sidebar */
.content-container {
 display: flex;
 justify-items: center;
 width: 80%;
 position: relative;
 bottom: 80px;
 left: 150px;
 font-family:  sans-serif;
 height: 35%;
}

#dark .content-container{
  background-color: rgb(162, 119, 175);
}

.nav {
  background-color: blue;
}

.sidebar button {
 margin: 1rem 0 1rem 1rem;
 color: rgb(7, 7, 7);
 background-color: transparent;
 border: 1px solid rgb(13,202,240);
 font-weight: bolder;
=======
/* Navbar */
.navbar-text-style {
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
}

.navbar-text-style:hover {
  color: white;
}

/* Sidebar */
.content-container {
  display: flex;
  width: 100%;
}

.sidebar button {
  margin: 1rem 0 1rem 1rem;
  color: black;
  background-color: transparent;
  border: 1px solid rgb(13, 202, 240);
  font-weight: bolder;
>>>>>>> 1fef7bcdefa83aafba3938260c2c3dd799d02516
}

/* Notes */
.d-none {
  width: 30rem;
}

.offcanvas-header {
  border-bottom: 1px solid rgb(13, 202, 240);
}

.offcanvas-title {
  margin-left: 1rem;
}

.offcanvas-body {
  margin: 0 1rem;
  flex-grow: 0 !important;
  /* Working on padding in full width */
  padding: 0 16px;
}

/* Lists */
.lists-container {
<<<<<<< HEAD
 padding: 1rem;
 
}

#dark .lists-containe{
  color: aliceblue;
=======
  padding: 1rem;
>>>>>>> 1fef7bcdefa83aafba3938260c2c3dd799d02516
}

.list-card {
  max-width: 100%;
}

.folder-container {
  padding: 1rem 1rem 1rem 1rem;
}

.sidebar-delete-buttons {
  border-radius: 3px;
  border: 1px solid red !important;
  color: red !important;
  float: right;
  margin: 0 !important;
  background-color: transparent !important;
}

.sidebar-edit-buttons {
  border-radius: 3px;
  border: 1px solid goldenrod !important;
  color: goldenrod !important;
  float: right;
  margin: 0 5px 0 0 !important;
  background-color: transparent !important;
}

.green {
  color: green !important;
  border: 1px solid green !important;
}

/* add name styles */

.addName {
  border-radius: 5px;
  margin-left: 10px;
  width: 10rem;
  border: none;
  padding: 3px;
}

.addName-button {
  margin-left: 3px;
  border: none;
  border-radius: 5px;
}

.none {
  display: none;
}

.show {
  display: block;
}

/* FOOTER */

.Footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.copyright {
  font-size: 1rem;
  opacity: 0.7;
}

/* dark/light mode */
#light{
  background-color: #F3ebf6;

}

#dark{
  background-color: #46045e;
}

.switch{
  position: relative;
  left: 550px;
  bottom: 100px;
  width: 100vw;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#light .switch label{
  color: rgb(235, 234, 236)
}

#dark .switch label{
  color: rgb(243, 236, 236)
}

