.main {
  min-height: 93vh;
  display: flex;
  align-items: center;
  background-image: url("../../images/background1.jpg");
  background-position: center;
  background-size: cover !important;
}

/* dark/light mode */
#light{
  background-color: #eae4ec;

}

#dark{
  background-color: #200429;
}

#light .lists-container{
  background-color: rgb(51, 136, 72);
}


.switch{
  position: relative;
  top: 180px;
  left: 1100px;
  width: 100vw;
  height: 100px;
  justify-content: center;
  align-items: center;
}
#dark .lists-container {
  background-color: rgb(3, 54, 6);
}

.title {
  font-size: 70px;
}

.subtitle {
  font-size: 25px;
  padding-top: 10px;
}

#light .switch label{
  color: rgb(3, 0, 8)
}
#dark .switch label{
  color: rgb(7, 1, 17)
}

.intro-text {
  width: 100%;
  text-align: center;
}

.buttonContainer {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
}

.landingbutton {
  width: 100px;
  height: 55px;
}
/* FOOTER */

.Footer {
  position: absolute;
  bottom: 0;
  top: 900px;
  width: 100%;
}

@media only screen and (min-width: 900px) {
  .buttonContainer {
    padding: 0 200px;
  }

  .title {
    padding: 0 100px;
  }
}
